@model SampleProject.Models.Authorization
@{
    ViewBag.Title = "Log On";
}

<div class="row-fluid">
    <h2>Log On Failed</h2>
</div>

<p>Login was unsuccessful. <a href='/authorization'>Please try again</a>.</p>


